/* Step 2 */
/* Reset default style */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

/* Step 3 */
/* setting font */

body {
  font-family: montserrat, sans-serif;
}

/* Step 4 */
/* setting font */

nav {
  background-color: #0082e6;
}

/* Step 5 */
/* change height and width of the nav container */

nav {
  background-color: #0082e6;
  height: 80px;
  width: 100%;
}

/* Step 6 */
/* Style the logo */

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

/* Step 7 */
/* Style the nav */

nav ul {
  float: right;
  margin-right: 20px;
}

/* Step 8 */
/* Style the nav */

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

/* Step 9 */
/* Style the link inside the nav */

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

/* Step 10 */
/* Remember to add the class active on the index.html site before adding css below */
/* Style the active link */

a.active,
a.hover {
  background-color: #1b9bff;
  transition: .5s;
}

/* Step 11 */
/* updating the style inside the nav */

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* Step 13 */
/* styling the label checkbtn class */
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

/* Step 14 */
/* styling the input tag  */
#check {
  display: none;
}

/* Step 15 */
/* styling the label checkbtn class - display none*/
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/* Step 16 */
/* adding CSS Media Queries - break-point 925px max*/

@media (max-width: 925px){

  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  
  nav ul li a {
    font-size: 16px;
  }
}  

/* Step 17 */
/* adding CSS Media Queries - break-point 858px max*/
  @media (max-width: 858px){
    .checkbtn {
      display: block;
    }

    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: 0;
      text-align: center;
    }

/* Step 18 */
/* continuing styling break-point 858px max*/

    nav ul li {
      display: block;
    }

    nav ul li a {
      font-size: 20px;
    }

    a:hover,
    a.active {
      background: none;
      color: #0082e6
    }
  }

/* Step 19 */
/* updating CSS Media Queries - break-point 858px max*/
/* updating left property - adding transition property*/
@media (max-width: 858px){
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 3.5s;
  }

/* Step 20 */
/* updating CSS Media Queries - break-point 858px max*/
/* adding new selector - #check:checked~ */
nav ul li {
  display: block;
}

nav ul li a {
  font-size: 20px;
}

a:hover,
a.active {
  background: none;
  color: #0082e6
}

#check:checked ~ ul {
  left: 0;
}

}


/* Step 21 */
/* updating CSS Media Queries - break-point 858px max*/
/* updating selector - nav ul li */
/* addding new properties - margin and line-height */

@media (max-width: 858px){
.checkbtn {
display: block;
}

ul {
position: fixed;
width: 100%;
height: 100vh;
background: #2c3e50;
top: 80px;
left: -100%;
text-align: center;
transition: all .5s;
}

nav ul li {
display: block;
margin: 50px 0;
line-height: 30px;
}

nav ul li a {
font-size: 20px;
}

a:hover,
a.active {
background: none;
color: #0082e6
}

#check:checked ~ ul {
left: 0;
}


}

/* Step 22*/
/* Styling section tag - outside the media queri*/
/* addding new properties - background - background-size - height */
section {
background: url(../img/bg.jpg);
background-size: cover;
height: calc(300vh - 80px);
}

/* Step 23 */
/* Making the navigationbar fixed */

nav {
  background-color: #0082e6;
  height: 80px;
  width: 100%;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

h1 {
  margin-top: 11vh;
  padding: 6%;
}